{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DjaT</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <style type="text/css">
        .main {
            min-height: 100vh;
            height: 100%;
        }
    </style>

    {% include 'snippets/header.html' %}

    <div class="main">
        {% block content %}
        {% endblock %}
    </div>

    {% include 'snippets/footer.html' %}
</body>
</html>
